# Spark

Taratukhin Oleg, C41323

Initial env setup:

In [10]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
import pandas as pd
from pathlib import Path

spark = SparkSession.builder \
    .appName("itmo spark assignment") \
    .master("local[*]") \
    .getOrCreate()

spark

In [2]:
!cd data && ls
!rm -rf results/task2/

PATH_TO_DATA = Path("data/")
PATH_TO_RESULTS = Path("results/task2/")

followers.parquet              posts_api.json
followers_posts_api_final.json posts_likes.parquet
followers_posts_likes.parquet

utlilities:

In [3]:
def save_as_json(df: pyspark.sql.dataframe.DataFrame, name: str):
    df.write \
        .format("json") \
        .save(str(PATH_TO_RESULTS / name))

In [4]:
followers_posts_likes = spark \
    .read \
    .parquet(str(PATH_TO_DATA / "followers_posts_likes.parquet"))

followers_posts_likes \
    .limit(10) \
    .toPandas()

  itemType  ownerId  itemId    likerId
0     post     1567    3324       2767
1     post     1567    3324     254280
2     post     1567    3324     553430
3     post     1567    3324     905379
4     post     1567    3324    2411502
5     post     1567    3324    5274303
6     post     1567    3324   50038414
7     post     1567    3324   84207602
8     post     1567    3324  145422426
9     post     1567    3331    4601081

In [5]:
posts_likes = spark \
    .read \
    .parquet(str(PATH_TO_DATA / "posts_likes.parquet"))

posts_likes \
    .limit(10) \
    .toPandas()

  itemType  ownerId  itemId    likerId
0     post      -94   13499    2070090
1     post      -94   13499   14897197
2     post      -94   13499   83555646
3     post      -94   13561      58801
4     post      -94   13561     839639
5     post      -94   13561   17932960
6     post      -94   13561   31301979
7     post      -94   13561  184719664
8     post      -94   13561  201975220
9     post      -94   13511      18239

In [6]:
followers_posts_api = spark \
    .read \
    .json(str(PATH_TO_DATA / "followers_posts_api_final.json"))

followers_posts_api \
    .limit(10) \
    .toPandas()

,attachments,comments,copy_history,copyright,date,final_post,from_id,geo,id,is_pinned,key,likes,owner_id,post_source,post_type,reposts,signer_id,text,unavailable,views
0,"[(None, None, None, None, None, None, None, No...","(0, 0, True)",None,None,1550165023,None,87449,None,3316,None,87449_3316,"(1, 1, 6, 0)",87449,"(None, None, iphone, api, None)",post,"(0, 0)",None,"Я люблю Вас. Я вчера, даже, хотел Вам это сказ...",None,"(428,)"
1,"[(None, None, None, None, None, None, (fe02668...","(0, 0, True)",None,None,1553774858,None,87449,None,3318,None,87449_3318,"(1, 1, 11, 0)",87449,"(None, None, iphone, api, None)",post,"(0, 0)",None,call me by your name ♡,None,"(477,)"
2,"[(None, None, None, None, None, None, (c25cda8...","(0, 0, True)",None,None,1555602008,None,87449,None,3320,None,87449_3320,"(1, 1, 10, 0)",87449,"(None, None, iphone, api, None)",post,"(0, 0)",None,🦋,None,"(419,)"
3,"[(None, None, None, None, None, None, None, No...","(0, 0, True)",None,None,1558105050,None,87449,None,3322,None,87449_3322,"(1, 1, 8, 0)",87449,"(None, None, iphone, api, None)",post,"(1, 0)",None,"Браво,Юра !",None,"(442,)"
4,"[(None, None, None, None, None, None, (7758fb4...","(0, 0, True)",None,None,1559301729,None,87449,None,3324,None,87449_3324,"(1, 1, 8, 0)",87449,"(None, None, iphone, api, None)",post,"(0, 0)",None,🕊,None,"(425,)"
5,"[(None, None, None, None, None, None, (666dd69...","(0, 0, True)",None,None,1564088944,None,87449,None,3325,None,87449_3325,"(1, 1, 10, 0)",87449,"(None, None, iphone, api, None)",post,"(0, 0)",None,Самый неприятный побочный эффект взросления дл...,None,"(301,)"
6,"[(None, None, None, None, None, None, (06ab977...","(0, 0, True)",None,None,1565162341,None,87449,None,3326,None,87449_3326,"(1, 1, 6, 0)",87449,"(None, None, iphone, api, None)",post,"(0, 0)",None,🔅,None,"(309,)"
7,"[(None, None, None, None, None, None, (74fdfc9...","(0, 0, True)",None,None,1566293696,None,87449,None,3327,None,87449_3327,"(1, 1, 9, 0)",87449,"(None, None, iphone, api, None)",post,"(0, 0)",None,Пекло.Пушка.Вышка.\nЧёртов гений Тарантино. Лю...,None,"(366,)"
8,"[(None, None, None, None, None, None, (02804b0...","(0, 0, True)",None,None,1571221102,None,87449,None,3329,None,87449_3329,"(1, 1, 0, 0)",87449,"(None, None, iphone, api, None)",post,"(0, 0)",None,,None,"(139,)"
9,"[(None, None, None, None, None, None, (a88e65c...","(1, 1, True)",None,None,1559647730,None,94494,None,11752,None,94494_11752,"(1, 1, 17, 0)",94494,"(None, None, None, vk, None)",post,"(0, 0)",None,"Тот неловкий момент, когда прилетел из унылого...",None,"(594,)"

## Task 2

Display the top 20 users by likes and reposts made (for reposts use "copy_history", from the subset posts)

### Top likers

In [7]:
top_likers = posts_likes \
    .groupBy("likerId") \
    .count() \
    .orderBy("count", ascending=False) \
    .limit(20)
  
save_as_json(top_likers, "task2_top_likers_posts_likes.json")

top_likers.toPandas()

      likerId  count
0     2070090   4801
1     2397858   2055
2     1475301   1829
3       18239   1569
4      546612   1245
5        6371    907
6     1841959    746
7    78440957    709
8      120248    699
9    40981497    611
10      22158    553
11  207628162    548
12  329377723    504
13   76071304    474
14   14805173    440
15     317799    385
16   56355640    375
17   52042971    338
18    7437271    336
19  136506644    335

In [8]:
top_likers = followers_posts_likes \
    .groupBy("likerId") \
    .count() \
    .orderBy("count", ascending=False) \
    .limit(20)
  
save_as_json(top_likers, "task2_top_likers_followers_posts.json")

top_likers.toPandas()

      likerId  count
0   194073434   8104
1   150371150   5332
2   271081114   5261
3     6524088   4946
4   189597336   3711
5   142999083   3394
6   215686327   3217
7   514404131   2747
8     2818498   2350
9   419925361   2212
10  493380857   2162
11  424434709   2122
12   95783577   1985
13   94697255   1975
14    4448812   1777
15  330771656   1763
16  228571738   1720
17  325927416   1661
18  347711731   1645
19  501177379   1641

### Top reposters

The following cell for some reason crashes spark node:

In [ ]:
# followers_posts_api \
#     .select(["from_id", "copy_history"]) \
#     .where(followers_posts_api.copy_history.isNotNull()) \
#     .orderBy("from_id").groupBy("from_id") \
#     .count() \
#     .sort("count",  ascending=False) \
#     .limit(20)

# save_as_json(followers_posts_api, "task2_top_reposters_followers_posts.json")

# followers_posts_api.toPandas()

In [12]:
top_reposters = followers_posts_api \
    .filter(array_contains(followers_posts_api.copy_history.owner_id, -94)) \
    .groupBy(followers_posts_api.owner_id).count() \
    .orderBy("count", ascending=False) \
    .limit(20)

save_as_json(top_reposters, "task2_top_reposters.json")

top_reposters.toPandas()

     owner_id  count
0   180907432     48
1      317799     16
2     4068532     13
3     2547211      9
4   484122052      8
5     2070090      5
6   281951154      5
7     1077823      5
8   268247082      5
9     1533614      4
10  217400123      4
11  157728618      4
12   44361144      4
13  527580876      4
14  168543860      4
15   18467645      4
16  172808182      4
17    2031644      3
18    1548876      3
19    2923196      3